@import "tailwindcss";

/* Force entire app to dark */

html,
body {
  background-color: #000000;
  color: #ffffff;
  min-height: 100%;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Optional: smoother text rendering */
* {
  box-sizing: border-box;
}